
<div class="center-align">

  <% if @current_user_rsvp_id  %>
     <button class="btn waves-effect waves-light orange event-unrsvp" data-event-id="<%= event.id %>" data-rsvp-id="<%= @current_user_rsvp_id %>">UnRsvp</button>
  <% elsif current_user %>
    <button class="btn waves-effect waves-light orange event-rsvp" data-event-id="<%=event.id %>">RSVP to event</button>
  <% else %>
    <button class="btn waves-effect waves-light orange disabled">Login to Rsvp</button>
  <% end %>

  <% if @current_user_rsvp_id %>
    <%= link_to 'My matches', event_likes_path(@event), class: "btn waves-effect waves-light orange" %>
  <% else %>
    <button class="btn waves-effect waves-light orange disabled">Rsvp for matches</button>
  <% end %>
</div>

<% event.rsvps.each do |rsvp| %>
  <% unless current_user && (rsvp.user_id == current_user.id) %>
    <% cardColor = (rsvp.user.gender == 'Male' ? 'blue lighten-2' : (rsvp.user.gender == 'Female' ? 'pink lighten-2' : 'blue-grey lighten-2')) %>
    <div class="row">
      <div class="col s12">
        <div class="card <%= cardColor %>">
          <div class="card-content white-text">
            <span class="card-title"><%= avatar_url(rsvp.user, { size: :thumb, class: "circle", alt: "" }) %> <%= rsvp.user.display_name %> (Code: <%= rsvp.code %>)</span>
            <!--
                <span class="card-title"> <%= image_tag rsvp.user.avatar.url(:thumb), alt: "", class: "circle" %> <%= rsvp.user.display_name %> (Code: <%= rsvp.code %>)</span>
              -->
          </div>
          <% if current_user && current_user_already_rsvp %>
            <div class="card-action">
              <% if @liked_user_id_arr.include?(rsvp.user_id) %>
                <% if like_id = @curr_user_liked_user_to_liked_id_hash[rsvp.user_id] %> 
                  <button class="btn waves-effect waves-light orange event-toggle-like-user user-likes"  data-action="UnLike" data-event-id="<%= event.id %>" data-like-id="<%= like_id %>" data-liked-user-id="<%= rsvp.user_id %>"><i class="material-icons left">thumb_down</i> Unlike</button>
                <% else %>
                 <!-- Could not get like_id for user -->
                <% end %>
              <% else %>
                  <button class="btn waves-effect waves-light orange event-toggle-like-user" data-event-id="<%= event.id %>" data-action="Like" data-liked-user-id="<%= rsvp.user_id %>"><i class="material-icons left">thumb_up</i> Like</button>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>