<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Venue name:</strong>
  <%= @event.venue_name %>
</p>

<p>
  <strong>Venue address:</strong>
  <%= @event.venue_address %>
</p>

<p>
  <strong>Venue zip:</strong>
  <%= @event.venue_zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<% if @current_user_already_rsvp %>
  <button>Currently RSVP'd</button>
<% else %>
  <button class="event-rsvp" data-event-id="<%= @event.id %>">RSVP to event</button>
<% end %>

<h2>RSVPs</h2>

<div id="event_rsvp_list" >
  <%= render partial: 'event_rsvp_list', locals: {event: @event}  %>
</div>




