

<div class="row">
  <div class="col s10  offset-s1">
    <h3 class="center-align"><%= @event.title %></h3>
    <div class="center-align">
      <%= link_to events_path, class: "btn waves-effect waves-light"  do %>
        <i class="material-icons left">assignment_return</i> Back
      <% end %>
     
    </div>
    <% if current_user && @event.can_modify(current_user) %>
      <div class="center-align"><%= link_to 'Edit', edit_event_path(@event), class: "btn waves-effect waves-light orange" %> </div>
    <% end %>

    <div class="card-panel">

      <div class="venue">
        <strong>Where:</strong><br />
        <%= @event.venue_name %><br />
        <%= @event.venue_address %> <%= @event.venue_zip %>
      </div>

    </div>
    <div class="card-panel">
      <div class="event-time">
        <strong>When:</strong><br />
        <%= @event.start_time_display_short %> - <%= @event.end_time_display_short %>
      </div>
    </div>

    <div class="card-panel">
      <strong>Event Info:</strong>

      <div class="event-description">
        <pre>
          <%= @event.description %>
        </pre>
      </div>

    </div>

<hr />
<h3 class="center-align">RSVPs</h3>


<div id="event_rsvp_list" >
  <%= render partial: 'event_rsvp_list', locals: {event: @event, current_user_already_rsvp: @current_user_already_rsvp }  %>
</div>




